@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #1c1c1c;
  color: snow;
  margin: 2.8vw 7vw 2.8vw 7vw;
  font-family: "PT Mono", monospace;
  font-size: 1.2vw;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.42vw;
}

h2, h3 {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.42vw;
  font-weight: 300;
}

header {
  display: grid;
  grid-template-columns: 1fr 90%;
  height: 7vw;
  text-align: center;
}

.logo {
  border: 1px solid white;
  border-top: none;
  text-align: center;
  align-items: center;
}

.menu {
  display: grid;
  grid-template-rows: 1fr 1fr;
  border: 1px solid white;
  border-top: none;
  border-left: none;
}

.dados_comercio {
  display: grid;
  grid-template-columns: 1fr 12.5%;
  border-bottom: 1px solid white;
}

.localizacao {
  display: grid;
  grid-template-columns: 97% 1fr;
  font-size: 0.9vw;
  text-align: right;
  align-items: center;
  margin-right: 15px;
}

.localizacao img {
  margin-left: 5px;
}

.social {
  border-left: 1px solid white;
}

nav {
  display: grid;
  margin-left: 5vw;
  margin-right: 5vw;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  gap: 2.2vw;
}

nav .item {
  padding: 0.35vw;
}

nav .item:hover {
  background-color: white;
  color: black;
}

.social {
  max-width: 100%;
  max-height: 100%;
}

.dados_comercio .social {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
}

.social img {
  margin-left: auto;
  margin-right: auto;
}

.introducao {
  display: grid;
  grid-template-rows: 45% 1fr;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.frase_efeito {
  margin-left: 0px;
  font-size: 2.8vw;
  font-weight: 800;
  padding-top: 3vw;
  padding-bottom: 6vw;
}

.frase_efeito hr {
  width: 2.1vw;
  margin-top: -2vw;
  margin-left: 0px;
  height: 0.42vw;
  background-color: white;
}

.sobre_nos {
  display: grid;
  grid-template-columns: 1fr 55% 1fr;
  border: 1px solid white;
  border-left: none;
  border-right: none;
  height: 100%;
}

.sobre_nos .img_esquerda {
  display: flex;
  border-right: 1px solid white;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}

.sobre_nos .conteudo {
  border-right: 1px solid white;
}

.sobre_nos .img_direita {
  display: grid;
  grid-template-rows: 65% 1fr;
}

.img_direita .desde {
  border-bottom: 1px solid white;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.scroll_down {
  margin-top: -1.5vw;
  padding: 0.56vw;
  background-color: #1c1c1c;
  width: 40%;
  font-size: 1.5vw;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  border-top: none;
  border-bottom: none;
}

.sobre_nos .conteudo {
  padding: 0px 4.2vw 0px 4.2vw;
  display: grid;
}

.conteudo .titulo {
  font-size: 2vw;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
}

.titulo hr {
  width: 2.1vw;
  height: 0.35vw;
  background-color: white;
  margin-top: -0.5vw;
}

.conteudo .texto {
  text-align: center;
  font-size: 1.3vw;
}

.img_direita {
  text-align: center;
  align-items: center;
}

content {
  display: grid;
  grid-template-rows: 25% 1fr;
  height: auto;
  max-height: 100%;
}

content .titulo {
  display: flex;
  font-size: 2.8vw;
  justify-content: center;
  align-items: center;
  margin-top: 6vw;
  margin-bottom: 6vw;
}

content .quadro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid white;
  border-left: none;
  border-right: none;
  height: auto;
  max-height: 100%;
}

.quadro .campos_direita {
  display: grid;
  grid-template-rows: 57.5% 1fr;
  border-left: 1px solid white;
}

.campos_direita .imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.campos_direita .texto {
  border-top: 1px solid white;
}

.imgs .imgs_esquerda {
  display: grid;
  grid-template-rows: 45% 1fr;
}

.imgs_esquerda .img_superior {
  border-bottom: 1px solid white;
}

.imgs .img_direita {
  display: flex;
  border-left: 1px solid white;
  text-align: center;
  justify-content: center;
}

.campos_direita .texto {
  padding: 0px 2.1vw 0px 2.1vw;
  text-align: left;
  font-size: 1.3vw;
}

.texto h2 {
  font-size: 2vw;
}

.texto hr {
  width: 1.8vw;
  height: 0.3vw;
  background-color: white;
  margin-left: 0px;
  margin-top: 0.7vw;
  margin-bottom: 2vw;
}

.imgs_esquerda .img_superior {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  align-items: center;
  justify-content: center;
}

.imgs_esquerda .img_inferior {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  align-items: center;
  justify-content: center;
}

.quadro .campo_esquerdo {
  display: grid;
  grid-template-rows: 15% 1fr;
}

.campo_esquerdo .titulo_carrossel {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8vw;
  padding-top: 2.6vw;
}

.titulo_carrossel hr {
  width: 1.8vw;
  height: 0.4vw;
  background-color: white;
  margin-top: 0.7vw;
}

.finalizacao {
  margin-top: 1.4vw;
  display: grid;
  height: auto;
  max-height: 100%;
}

.missao {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid white;
  border-left: none;
  border-right: none;
  height: 100%;
  max-height: 100%;
}

footer {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.footer_superior {
  display: grid;
  grid-template-columns: 50% 1fr 8%;
  border-bottom: 1px solid white;
}

.footer_inferior {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.subscribe {
  display: grid;
  text-align: center;
  height: auto;
  max-height: 100%;
}

.subscribe h2 {
  font-size: 2.1vw;
  margin: 1vw 0px 0px 0px;
}

.subscribe hr {
  width: 2.1vw;
  height: 0.42vw;
  background-color: white;
}

.subscribe [type=text], [type=email], [type=submit] {
  background-color: #1c1c1c;
  border: none;
  border-bottom: 1px solid white;
  padding: 0.7vw;
  color: white;
  outline: none;
  font-family: "PT Mono", monospace;
  font-size: 1.3vw;
  font-weight: 400;
  font-style: normal;
}

.subscribe [type=email] {
  margin-left: 2.1vw;
  margin-right: 2.1vw;
}

.subscribe [type=submit] {
  border-bottom: 1px solid red;
  cursor: pointer;
  margin-top: 1vw;
  margin-bottom: 3vw;
}

.missao {
  height: 100%;
  max-height: 100%;
}

.missao h2 {
  font-size: 2.1vw;
}

.missao hr {
  width: 2.1vw;
  height: 0.4vw;
  background-color: white;
}

.missao .texto_missao {
  font-size: 1.3vw;
  padding: 1.75vw;
  text-align: center;
  border: 1px solid white;
  border-top: none;
  border-bottom: none;
}

.missao .img_esquerda, .img_direita {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
}

footer .footer_superior, .footer_inferior {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.42vw;
  font-weight: 300;
  font-size: 1.6vw;
}

.footer_superior .marca, .follow {
  border-right: 1px solid white;
}

.footer_superior .marca, .follow {
  display: flex;
  align-items: center;
  text-indent: 2px;
}

.footer_superior .follow {
  justify-content: right;
  font-size: 0.95vw;
  text-indent: 0px;
  padding-right: 2.1vw;
}

.footer_superior .redes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 0.35vw;
}

.redes img {
  margin-left: auto;
  margin-right: auto;
}

.footer_inferior .creditos1, .creditos2 {
  display: flex;
  align-items: center;
  text-indent: 2px;
  font-size: 0.95vw;
  padding-right: 2.1vw;
}

.footer_inferior .creditos2 {
  justify-content: right;
  padding-right: 0.14vw;
}/*# sourceMappingURL=index2.css.map */